@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

body{
  font-family: 'Yanone Kaffeesatz', sans-serif !important;
}

.container-fluid{
  width:100vw !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.nav-link, .navbar-brand{
  color: #FFFFFF !important;
}

.btn{
  border: 2px solid #FFFFFF !important;
}
.navbar-toggler{
  border-color: #FFFFFF;
}