@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

body{
  font-family: 'Yanone Kaffeesatz', sans-serif !important;
}

.container-fluid{
  width:100vw !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.nav-link, .navbar-brand{
  color: #FFFFFF !important;
}

.btn{
  border: 2px solid #FFFFFF !important;
}
.navbar-toggler{
  border-color: #FFFFFF;
}

.qty {
  width: 100%;
  margin: 1.5rem 0;
  padding: 0px 8px;
}

.qty button {
  width: 20%;
  border: none;
  padding: 1rem;
  outline: none;
  cursor: pointer;
  background: #ddd;
  border-radius: 30px;
  color: black;
  font-size: 1rem;
}

.qty button:disabled {
  background: #ddd;
  cursor: no-drop;
}

.qty input {
  width: 60%;
  text-align: center;
  border: none;
  padding: 0.5rem;
  text-align: center;
  font-size: 1.8rem;
  outline: none;
}
